/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-select/dist/css/bootstrap-select
 *= require bootstrap-table/dist/bootstrap-table
 */

header{
  background-color: #212121;
  height: 100px;
  box-shadow: 0 0 3px #212121;

  a{
    color: rgba(255, 255, 255, 0.92);
    transition: all 0.15s linear 0s;
  }
  a:hover, a:active, a:after, a:focus{
    color: #8bc34a;
    text-decoration: none;
  }

  .top-nav{
    float: right;
    height: 32px;

    .btn-link{
      color: rgba(255, 255, 255, 0.92);;
    }
    .btn-link:hover, .btn-link:active, .btn-link:after, .btn-link:focus{
      text-decoration: none;
    }
  }

  .site-title{
    margin-top: 22px;
    font-size: 20pt;
    color: rgba(255, 255, 255, 0.92);
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    line-height: 34px;
  }
  .site-subtitle{
    @extend .site-title;
    margin-top: 0;
    font-size: 14pt;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.72);
    font-weight: normal;
  }

  .login-dropdown{
    width: 280px;
    padding: 16px;
    img{
      margin-bottom: 8px;
    }
    input{
      margin-bottom: 8px;
    }
    .btn{
      width: 100%;
    }
  }

}